* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 242);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
/* nav left side seach box and likedin logo*/
.nav-left-item {
    margin: 5px;
}

#nav-item {
    display: flex;
    list-style: none;
}

header {
    background-color: rgb(255, 255, 254);
    border: 2px solid rgb(243, 242, 235);
}

header p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.lkdnlogo {
    margin-left: 200px;
    width: 35px;
    height: 35px;
    float: left;
}

.search input {
    opacity: 0.5;
    margin-right: 200px;
    height: 35px;
    width: 250px;
    background-color: paleturquoise;
    float: left;
    border-radius: 10px 10px 10px 10px;
}
.user_info{
    border-left:2px solid black;
}
.nav-logo {
    opacity: 0.6;
    margin: 0px 30px 0px 30px;
    height: 25px;
    width: 25px;
}

.user-data-img {
    background-color: gray;
    position: relative;
    left: 70px;
    bottom: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#lidn_page {
    display: grid;
    grid-template-columns: 250px 480px 250px;
    justify-content: center;

}

#user_data {
    border: 1px solid rgb(248, 245, 245);
    height: 200px;
    margin: 10px 5px 5px 0px;
    background-color: #fff;
}
/* user img background color*/
.us-da-bcol {
    overflow: hidden;
    background-color: red;
    height: 100px;
}

.user-name {
    text-align: center;
    position: relative;
    bottom: 50px;
}
.connection {
    padding: 10px;
    border: 1px solid rgb(253, 250, 250);
    margin: 5px 5px 0px 0px;
    background-color: #fff;
}
.connection img{
    height: 20px;
    width: 20px;
    margin:10px 120px 0px 0px;
}
/* recent division style*/
#recent {
    border: 1px solid rgb(253, 250, 250);
    background-color: #fff;
    margin: 5px;
    padding: 10px;
}

#recent>p {
    opacity: 0.8;
}
.txtstyle{
    font-size: 20px;
    color:cornflowerblue;
}
/* group logo in recent division style*/
.grp{
    height: 20px;
    width: 20px;
    opacity: 0.7;
    justify-items: auto;
}
/* posting division style*/
#posting {
    border: 1px solid rgb(251, 250, 250);
    margin: 10px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
}

.post-box {
    height: 45px;
    width: 45px;
    background-color: gainsboro;
    border-radius: 50%;
    margin: 10px;
}

.write-post {
    float: right;
    margin: 10px;
    height: 40px;
    width: 370px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(220, 215, 249);
}

.post-img {
    margin-left: 30px;
    width: 40px;
    height: 30px;
    opacity: 0.7;
}

#post-element {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}

#post-element p {
    color: blue;
    position: relative;
    top: 5px;
}
/* myntra news feed  style*/
#lkdn-news-feed-1 {
    margin: 10px;
    border: 1px solid rgb(253, 251, 251);
    background-color: #fff;
}

.myntralogo {
    margin: 10px;
    height: 40px;
    width: 40px;
    float: left;
}

.myntraname {
    position: relative;
    margin: 10px;
}

.myntra-news-img {
    margin: 0px 10px;
    align-items: center;
    height: 250px;
    width: 440px;
}
.tools{
    padding: 10px;
}
.tools span {
    opacity: 0.8;
    margin:30px 30px 30px 0px;

}
/* right panel linkedin news style*/
#lkdn_news {
    width: 270px;
    height: 300px;
    border: 1px solid rgb(254, 250, 250);
    margin: 30px 0px 5px 30px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px ;
}

#lkdn_news ul {
    padding: 20px;
}

#lkdn_news2 {
    width: 270px;
    height: 150px;
    border: 1px solid rgb(248, 244, 244);
    margin: 5px 30px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
}

#lkdn_news2 ul {
    padding: 20px;
}

#sugest-pro {
    width: 270px;
    border: 1px solid white;
    margin-left: 30px;
    background-color: #fff;
}

.unilever {
    width: 270px;
    height: 100px;
    background-color: #fff;
}

.unilever img {
    margin-top: 5px;
    float: left;
    height: 50px;
    width: 50px;

}

.lever-name {
    float: left;
    margin: 10px 0px 0px 5px;
}
/* followe button style*/
.followe {
    color:skyblue;
    display: grid;
    justify-content: center;
    height: 30px;
    border: 2px solid black;
    position: relative;
    top: 60px;
    right: 50px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px 20px 20px 20px;
}